audio.example.org {
	root * /var/lib/weatherbox/public

	@assets path *.mp3 *.wav *.flac *.ogg *.opus *.m4a *.html
	header @assets {
		Cache-Control "public, max-age=60, must-revalidate"
	}

	file_server
}
